<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.yedam.puppy.shop.service.ShopService">
    <select id="shopList" resultType="ShopVO">
        SELECT * FROM shop WHERE category_no = (SELECT no FROM category WHERE title = ${category})
    </select>
    
    <insert id="shopInsert" parameterType="ShopVO">
    	insert into shop values (
    	SHOP_SEQ.nextval,#{companyOwner},#{companyName},#{saupjaNo},#{companyTel},#{companyZip},
    	#{companyAddr}, #{bankName},#{bankNumber},#{bankOwnerName},
    	#{memberNo},#{categoryNo},#{locationNo},#{mainFile},#{subFile}
    	)
    </insert>
</mapper>
